version: "3"

services:
  frontend:
    build: 
      context: ./frontend
      args:
        - VUE_APP_DOMAIN=http://localhost/api/
    env_file:
      - .env
    volumes:
      - ./frontend/dist:/frontend/dist
    depends_on:
      - backend
    

  nginx:
    image: nginx
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend
    ports:
      - "80:80"

  db:
    image: postgres:13.3
    restart: unless-stopped
    environment:
      POSTGRES_USER: ddueruem
      POSTGRES_PASSWORD: ddueruem
      POSTGRES_DB: ddueruem
    volumes:
      - postgresdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./backend:/app
      - djangomedia:/api/media
    command: sh entrypoint.sh
    depends_on:
      - db
    expose:
      - "8000"
    ports:
      - "8000:8000"

volumes:
  postgresdata:
  djangomedia: